<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd">
           
           
           
           <!--<bean id="tyre" class="com.springPractice.SpringFrameWork.tyre">
  <property name="brand" value="MRF"></property>
  <constructor-arg value="MRF"></constructor-arg>
  </bean>-->
   
 <!--  <bean id="vehicle" class="com.springPractice.SpringFrameWork.bike"></bean>--> 
 <context:component-scan base-package="beanScopeAndLifeCycle"></context:component-scan>
 <bean id="student" class="beanScopeAndLifeCycle.Student" scope = "prototype">
  <property name="name" value="Dhiviya"></property>
  <property name="grade" value="twelve"></property>
  <!--<property name="subject" value="Chemistry"></property>--> 
  </bean>
<bean id="teacher" class="beanScopeAndLifeCycle.Teacher" scope = "singleton">
  <property name="name" value="kamala"></property>
  <property name="grade" value="ten"></property>
<!--  <property name="subject" value="ChemistryStaff"></property>--> 
  </bean>

  </beans>

